@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import './vars';

body {
  margin: 1vw 2vw;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 22px;
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 26px;
}

.sub {
  color: $gray;
  font-size: 16px;
  a {
    text-decoration: none;
    color: lighten($color: $red, $amount: 4);
    &:hover {
      text-decoration: underline;
      color: darken($color: $red, $amount: 10);
    }
  }
}

.logo {
  display: inline-block;
  height: 59px;
  //width: 16px;
}

