@import './vars';

.form-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  .field {
    padding-bottom: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    label {
      flex-basis: 40%;
    }
    input {
      flex-basis: 50%;
    }
  }
}

input {
  flex-grow: 1;
  padding: 4px;
  border: 1px solid $light-gray;
  border-radius: 3px;
  &:focus {
    border: 1px solid $yellow;
    line-height: 1.15;
  }
}


.downArrow,
.upArrow {
  border-bottom: 1px solid $black;
  border-right: 1px solid $black;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
}

.downArrow {
  transform: rotate(45deg) translateY(-5px);
}

.upArrow {
  transform: rotate(225deg) translateX(-2.5px) translateY(2.5px);
}

.line {
  display: flex;
  justify-content: space-between;
}

.label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $almost-white;
  border-radius: 50%;
}

.label-container:hover input ~ .checkmark {
  background-color: $yellow-hover;
}

.label-container input:checked ~ .checkmark {
  background-color: $yellow;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.label-container input:checked ~ .checkmark:after {
  display: block;
}

.label-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.button {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  // margin: 0.5rem 3rem;
  padding: 0 1.3rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
  border-radius: 5.2rem;
  cursor: pointer;
  transition: all 0.25s ease-out 0s;
  &:hover {
    transform: scale(1.05);
  }
  &:disabled {
    pointer-events: none;
  }
}

.button-yellow {
  border: 2px solid $yellow;
  background: $yellow;
  &:hover {
    border-color: $black;
    color: $black;
    background: transparent;
  }
  &:disabled {
    background: $yellow-disabled;
    border: none;
  }
}

.button-outline {
  border: 2px solid $black;
  background: transparent;
  color: $black;
  &:hover {
    background: $red;
    border-color: $red;
    color: white;
  }
  &:disabled {
    background: rgba(0, 0, 0, 0.1);
  }
}

.view-link {
  text-decoration: none;
  color: $black;
}

.hidden {
  display: none;
}

.bio {
  font-size: 18px;
  flex: 1 1 300px;
  margin-left: 1rem;
}

.overlay-container {
  vertical-align: top;
  position: relative;
  height: 200px;
  width: 200px;
}

.image {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 100;
  text-align: center;
  @media (pointer: coarse), (hover: none) {
    display: none !important;
  }
}

.overlay-text {
  position: relative;
  top: 82px;
  width: 100%;
  text-align: center;
}

.overlay-container:hover .overlay {
  opacity: 1;
}

.bio-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bio-text-photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bio-photo {
  flex: 0 1 200px;
}

.map-button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button-container {
  width: 100%;
  margin-top: 0.5rem;
}


.view-profile-button {
  display: block;
}

.arrow-container {
  justify-self: end;
}

.arrow-text {
  font-size: 16px;
  opacity: 0.8;
  cursor: pointer;
}
